.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.button {
    background-image: linear-gradient(135deg, #21e47f 0%, #68c4f6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border-radius: 10px;
    box-shadow: 0 0 7px #00FFFF, 0 0 7px #14F195;
    letter-spacing: "3px"
}