
.input-box{
    border: 0;
    box-shadow: 0 0 5px #00FFFF, 0 0 5px #14F195;
}

.label {
    background-image: linear-gradient(135deg, #21e47f 0%, #17bce6 30%, #3454e2 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}