.logo-text-2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: #FFFFFF;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(20, 241, 149, 0.5);
}