.logo-text {
    font-size: 36px;
    font-weight: 900;
    background: linear-gradient(135deg, #14F195 0%, #9945FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tabs {
    font-size: 17px;
    font-weight: 150;
    background: linear-gradient(135deg, #21e47f 0%, #00FFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tabs:hover {
    text-shadow: 1px 1px 2px #00FFFF;
}